<center>
    <img src="https://cf-courses-data.s3.us.cloud-object-storage.appdomain.cloud/IBMDeveloperSkillsNetwork-DS0105EN-SkillsNetwork/labs/Module2/images/SN_web_lightmode.png" width="300" alt="cognitiveclass.ai logo">
</center>

#### Add your code below following the instructions given in the course

# Exercise 1: Create a Jupyter Notebook

In [1]:
# Create a new Jupyter notebook called DataScienceEcosystem.ipynb

# Exercise 2: Create markdown cell with title of the notebook

In [4]:
# Create a markdown cell with the title Data Science Tools and Ecosystem using H1 style heading.
# Take a screenshot of the markdown cell and name it as 2-title.png (Images can be saved with either the .jpg or .png extension.)

# Data Science Tools and Ecosystem

## In this notebook, Data Science Tools and Ecosystem are summarized.

__Objective:__
- Learn how to use Jupyter Notebook and how to upload the files on Github.
- Understand the languages that data scienits used
- simple examples of evaluating arithmetic expressions in Python

## Some of the popular languages that Data Scientists use are:

- Julia
- Python
- R

## Some of the commonly used libraries used by Data Scientists include:

- numpy
- pandas
- sklearn

## Data Science Tools

In [1]:
import pandas as pd
df = pd.DataFrame(["Jupyter Notebook", "Rstudio", "Apache Zeppelin"], columns=["Data Science Tools"])
df

  Data Science Tools
0   Jupyter Notebook
1            Rstudio
2    Apache Zeppelin

### Below are a few examples of evaluating arithmetic expressions in Python

In [2]:
(3*4)+5
# This a simple arithmetic expression to mutiply then add integers

17

In [3]:
# This will convert 200 minutes to hours by diving by 60
- 
result = 200/60
print('200 mins is about',result,'hours')

200 mins is about 3.3333333333333335 hours

## Author

##### Vikash Saini